body {
    display: grid;
}

body > * {
    padding: 0.25rem;
}

header {
    grid-column: 1 / 8;
}

.left {
    grid-column: 1 / 2;
}

main {
    grid-column: 2 / 7;
}

.right {
    grid-column: 7 / 8;
}

footer {
    grid-column: 1 / 8;
    text-align: center;
}

dl > * {
    display: inline;
    margin-left: 1rem;
}

dd + dt {
    padding-left: 1rem;
    border-left: thin black solid;
}

/* a:focus {
    outline-color: orange;
} */

/* #intro p:first-of-type::first-letter {
    font-size: 5rem;
} */

