<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Demo</title>

    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <ul>
        <li>A first list item</li>
        <li>A second list item</li>
        <li>A third list item</li>
        <li>A fourth list item</li>
        <li>A fifth list item</li>
        <li>A sixth list item</li>
        <li>A seventh list item</li>
        <li>A eighth list item</li>
        <li>A ninth list item</li>
    </ul>
</body>
</html>